<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Ipsum lorem est adantious correspondus.</p>

        <!- add in the footer partial ->
        {{> footer}}
    </body>
</html>