<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{websiteName}}</title>
    </head>
    <body>
        {{> header}}
        <!- shoutIt helper takes one param, separated by the space ->
        <p>{{shoutIt welcomeMessage}}</p>

        <!- add in the footer partial ->
        {{> footer}}
    </body>
</html>