<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Server Maintenance</h1>
        <p>The server is currently closed for maintenance. Please call back later.</p>
    </body>
</html>