<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
    <body>
        <!- add in the footer partial ->
        {{> header}}
        <p>My Projects:</p>

        <!- add in the footer partial ->
        {{> footer}}
    </body>
</html>